<section class="glasses-section">
    <h2>Seleziona un Tipo di Bicchiere</h2>
    <ul class="glasses-list">
        <% glasses.forEach(glass => { %>
            <li>
                <a href="/cocktails/glasses/<%= glass.strGlass %>" class="btn btn-link">
                    <%= glass.strGlass %>
                </a>
            </li>
        <% }) %>
    </ul>

       <!-- Paginazione -->
<div class="pagination">
    <% if (pagination && pagination.hasPreviousPage) { %>
        <a href="?page=<%= pagination.previousPage %>" class="btn btn-secondary">Indietro</a>
    <% } %>
    <% for (let i = 1; i <= pagination.lastPage; i++) { %>
        <a href="?page=<%= i %>" class="btn <%= i === pagination.currentPage ? 'btn-primary' : 'btn-outline-primary' %>">
            <%= i %>
        </a>
    <% } %>
    <% if (pagination && pagination.hasNextPage) { %>
        <a href="?page=<%= pagination.nextPage %>" class="btn btn-secondary">Avanti</a>
    <% } %>
</div>
</section>
